<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TicTacToeWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57782/TicTacToeWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="TicTacToeWebServiceSoap"
                contract="ServiceReference1.TicTacToeWebServiceSoap" name="TicTacToeWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>